.wrapper {
    width: 100%;
    display: inline-flex;
    padding: 8px 16px;
    color: var(--black-color, #2b2b2b);
    line-height: 1.42857;
    white-space: nowrap;

    font-size: 1.4rem;
    font-weight: 600;

    &.active {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    &.link {
        color: var(--white-color, #fff);

        &.active {
            color: var(--primary-color);
        }
        &:hover {
            color: var(--primary-color);
        }
    }

    &.btn {
        display: inline-flex;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
        background: var(--white-color, #fff);
        outline: none;
        transition: background 0.3s ease-out;

        &:hover {
            background: var(--primary-color);
            color: var(--white-color, #fff);
        }
    }

    .icon {
        justify-self: flex-start;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0.4rem;
        width: 20px;
        height: 20px;
        -o-object-fit: cover;
        object-fit: cover;
        background: transparent;
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.default:hover {
        text-decoration: none;
    }
}
