.search-bar {
    width: 100%;

    .search,
    .search-result {
        width: 320px;
    }

    .search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 100%;
        border: 1px solid var(--white-color, #fff);
        border-radius: 5px;
        overflow: hidden;
    }

    .search-input {
        padding: 10px;
        color: var(--text-color, #ccc);
        flex-grow: 1;
        font-size: 1.4rem;
        border-radius: 5px 0 0 5px;
        border-right: none;
        background-color: transparent;
    }

    .search-btn {
        justify-content: center;
        align-items: center;
        width: auto;
        background-color: #fff;
        border-left: none;
        cursor: pointer;
        padding: 0 10px;
        align-self: stretch;
        z-index: 2;
        border-radius: 0;
    }

    .clear-btn {
        display: flex;
        position: absolute;
        right: 0;
        font-size: 1.4rem;
        margin: auto 12px;
        z-index: 1;
        background: transparent;
        transition: all 0.3s ease-in-out;
    }

    .clear-icon {
        font-size: 1.4rem;
    }

    .clear-icon {
        color: var(--text-color, #ccc);
    }

    .loading-icon {
        animation: identifier 1s linear infinite;

        @keyframes identifier {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    .searchIconWrapper {
        display: none;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    .search-input:not(:placeholder-shown) {
        padding-right: 40px;
        & ~ .clear-btn {
            translate: -40px 0;
        }

        & ~ .search-btn {
            color: var(--primary-color);

            &:hover {
                color: var(--text-color);
            }
        }
    }
}

// @media screen and (max-width: 991.98px) {
//     .search-bar {
//         .search,
//         .search-result {
//             width: 100%;
//             max-width: 500px;
//         }
//     }
// }
